nav a {
    border: 1px solid gray;
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    background-color: rgb(69, 77, 94);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-left: 20px ;
    padding-right: 20px;
}

button:focus {
    outline: none;
}

.first-jum h1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: white;
    font-size: 4.0rem;
}

.first-jum img {
    width: 100%;
    max-height: 100%;
}

.first-jum {
    height: 550px;
    padding: 0;
    margin-top: 56px;
}

.first-card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.second-card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.second-jum {
    margin-top: 30px;
    height: 350px;
    background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=791&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    border-radius: 0px;
}

.second-jum div {
    width: 75%;
    margin: auto auto;
}

.third-card {
    margin-top: 20px;
}

.fourth-card {
    margin-top: 20px;
    margin-bottom: 30px;
}

.fourth-card img{
    height: 500px;
}

.r1{
    margin-top: 20px;
}

.r1 p {
    outline: none;
    border-radius: .25rem;
    padding: 15px;
    background-color: rgba(180, 180, 180, 0.7);
}

.r1 input {
    margin-top: 15px;
    background-color: rgba(180, 180, 180, 0.7);
    outline: none;
    border: none;
}

.third-jum .container{
    max-width: 750px;
}

.third-jum textarea{
    height: 144px;
    margin-top: 15px;
    outline: none;
    border: none;
}

.third-jum {
    margin-top: 20px;
    background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 0px;
}

.third-jum textarea::placeholder {
    color: black;
}

.r1 input::placeholder {
    color: black;
}

.third-jum h1 {
    color: gray;
}

.form-control:valid {
    background-color: rgba(180, 180, 180, 0.7);
    color: black;
}

@media screen and (max-width: 800px) {
    .first-jum {
        max-height: 400px;
    }
}

@media screen and (max-width: 600px) {
    .first-jum {
        max-height: 300px;
    }
}

@media screen and (max-width: 767px) {
    nav a {
        border: none;
        width: 100%;
        margin-top: 10px;
    }
}

#myBtn {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #343a40!important;;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
}

#myBtn.show {
    opacity: 1;
    visibility: visible;
}